/*Это стили для всех страниц сайта. Стили, уникальные для страницы, собраны в отдельных css  */

body {
    font: bold 18px arial, verdana;
    background-color: #d9dbd6;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
}

.navbar a {
    color: white;
}

.navbar a:visited {
    color: lightgray;
}

header {
    padding-left: 1%;
    padding-top: 1.2%;
}

    header h1 {
        color: #222;
    }

aside {
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    overflow-y: hidden;
    padding-top: 20px;
}

body {
    padding-left: 14%;
    padding-bottom: 60px;
}

footer {
    /*position: sticky;    можно использовать вместо fixed в зависимости от того, какого эффекта мы хотим добиться*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: lightgray;
    margin-left: -2%;
    padding-left: 3%;
    font: normal 16px arial;
    padding-top: 10px;
    line-height: 40%;
    /*z-index: -2;*/
}

input:hover, input:focus { /*здесь вполне можно задать общее поведение для всех полей и не создавать классов*/
    background-color: cornsilk;
}

.sliderType {
    font: bold 22px arial;
}